.featured {
  padding: 2rem 0;
}

.filter-box {
  display: flex;

  @media only screen and (max-width: 600px) {
    justify-content: space-around;
  }

  &__item {
    margin-right: 1rem;
    border-bottom: transparent 0.2rem solid;
    color: $c-dark-text;

    &:hover {
      border-bottom: $c-red 0.2rem solid;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem -0.5rem;
}

.card {
  flex-grow: 1;
  width: calc(100% / 3 - 1rem);
  min-width: 15rem;
  margin: 0.5rem;

  &-img {
    width: 100%;
    max-height: 25rem;
  }

  &-content {
    &__full {
      width: 100%;
      border-bottom: $c-light-text 1px solid;
    }

    &__bottom {
      display: flex;
    }

    &__half {
      width: 50%;

      &:last-of-type {
        padding-left: 1rem;
        border-left: $c-light-text 1px solid;
      }
    }

    &__tag {
      margin-bottom: 0.5rem;
      color: $c-light-text;
      font-size: 0.8rem;
    }

    &__value {
      margin-top: 0.5rem;
      color: $c-dark-text;
    }
  }
}

.discover {
  text-align: center;
}
