.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.link-box {
  padding: 0.6rem 0;

  &__link {
    margin-right: 0.8rem;
    color: $c-white;
    text-decoration: none;
  }

  &__btn {
    padding: 0.7rem 1.3rem;
    border-radius: 0.4rem;
    background: $c-white;
    color: $c-dark-text;
    text-decoration: none;
  }
}
