// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';
$c-dark-text: #4d4f56;
$c-light-text: #b3b6bf;
$c-white: #fff;
$c-red: #ff3434;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'logo';
@import 'nav';
@import 'hero';

.featured {
  padding: 2rem 4rem;
}

.filter-box {
  display: flex;


  &__item {
    margin-right: 1rem;
    border-bottom: transparent 0.2rem solid;
    color: $c-dark-text;

    &:hover {
      border-bottom: $c-red 0.2rem solid;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem -1rem;
}

.card {
  flex-grow: 1;
  margin: 0.5rem;

  &-img {
    width: 100%;
  }

  &-content {
    &__full {
      width: 100%;
      border-bottom: $c-light-text 1px solid;
    }
    &__bottom {
      display: flex;
    }
    &__half {
      width: 50%;
    }
  }
}
